<template>
	<b-dropdown
		class="cart-preview"
	>

		<template v-slot:button-content>
			<!-- Custom <strong>Content</strong> with <em>HTML</em> via Slot -->
			${{wooCartSubTotals.subtotal}} --
			<strong>
				{{wooCartItemCount}}
				<span
					v-if="wooCartItemCount > 0"
					v-html="wooCartItemCount > 1 ? ' items':' item'"
				>
				</span>
				<span
					v-else
					v-html="'items'"
				></span>
			</strong>
		</template>
		<b-dropdown-text
			v-for="item in wooCartItems"
			:key="item.key"
		>
			<b-button-close @click="removeItem(item.key)"/>{{item.product_title}}<br/>
			{{item.quantity}} x {{item.product_price}}
		</b-dropdown-text>

	</b-dropdown>
</template>

<script>
import util from '~/assets/js/util'
export default {
	computed: {
		wooCartItems(){
			return this.$store.state.wooCommerceCart
		},
		wooCartSubTotals(){
			return this.$store.state.wooCommerceTotal
		},
		wooCartItemCount(){
			return this.$store.state.wooCommerceItemCount
		}
	},
	methods:{
		removeItem(productID){
			let self = this;
			util.deleteItem(productID);

			setTimeout(() => {
				util.setCartPreview(self);
			}, 500);
		}
	},
	mounted(){
		let self = this;
		// set cart preview
		util.setCartPreview(self);
	}
}
</script>
