<template>
	<b-container>
		<!-- title -->
		<b-row>
			<b-col
				class="text-center"
				col
			>
				<br/><br/><br/>
			</b-col>
		</b-row>

		<!-- info -->
		<b-row
			align-h="between"
			>
			<b-col
				md=5
			>
				<!-- list product images -->
				<product-images
					:images="product.images"
				></product-images>
			</b-col>

			<b-col
				md=6
			>
				<!-- title/price/description -->
				<product-content
					:price="product.price_html"
					:title="product.name"
					:description="product.description"
				></product-content>

				<product-form
					:type="product.type"
					:id="product.id"
					:stockQuantity="product.stock_quantity"
				></product-form>
			</b-col>

		</b-row>

	</b-container>
</template>

<script>
import ProductImages from '@/components/products/single-product-image';
import ProductContent from '@/components/products/single-content';
import ProductForm from '@/components/products/single-form';

export default {
	components: {
		ProductImages,
		ProductContent,
		ProductForm
	},
	data(){
		return {
			product: '',
		}
	},
	asyncData({$axios,app,params,error}){
		return $axios.get('/ecomm/products/?slug='+params.slug,{

				})
				.then(response => {
					let productData = response.data[0];
					return {
						product: productData
					}

				}).catch(e => {
					error({ statusCode: 404, message: 'Product not found' });
				});
	}
}
</script>

<style lang="scss">
.modal-backdrop {
	background: rgba($color: #000000, $alpha: .5)
}
</style>
