<template>
	<b-form
		@submit="onSubmit"
	>
		<!-- simple product -->
		<div
			v-if="type === 'simple'"
		>
			<b-form-group
				id="input-group-simple"
				label="Quantity"
				label-for="input-Quantity"
			>
				<b-form-input
					id="input-Quantity"
					v-model="form.quantity"
					type="number"
					min=1
					required
				></b-form-input>
			</b-form-group>
		</div>

		<!-- submit quantity -->
		<b-button
			type="submit"
			ref="addToCart"
		>
			<span ref="cartText">Add to Cart</span>
			<b-spinner
				class="d-none"
				label="Spinning"
				ref="addingToCart"
			></b-spinner>
		</b-button>

		<!-- products added successfully -->
		<b-alert
			variant="success"
			:show="dismissCountDown"
			class="mt-3"
			fade
			dismissible
			@dismissed="dismissCountDown=0"
			@dismiss-count-down="countDownChanged"
		>
			Item(s) added
		</b-alert>

    </b-form>
</template>

<script>
import axios from 'axios';
import util from '~/assets/js/util'

export default {
	props:['type','id','stockQuantity'],
	data(){
		return {
			form: {
				quantity: 1, // default added
				product_id: this.id, // product ID
				//refresh_totals: true, // return cart totals - see https://docs.cocart.xyz/#add-item-to-cart
				return_cart: true // return cart once added - see https://docs.cocart.xyz/#add-item-to-cart
			},
			dismissSecs: 3,
        	dismissCountDown: 0,
		}
	},
	methods:{
		countDownChanged(dismissCountDown) {
			this.dismissCountDown = dismissCountDown
		},
		onSubmit(event) {
			event.preventDefault()
			// console.log(this.form)
			let self = this;
			let formData = this.form;
			let cartSubmit = this.$refs.addToCart;
			let cartText = this.$refs.cartText;
			let cartAdding = this.$refs.addingToCart;
			//disable submit
			cartSubmit.disabled = true;
			//show spinner
			cartText.classList.add('d-none');
			cartAdding.classList.remove('d-none');

			// stock set?
			// is the amount being added more than what's availble?
			if(this.stockQuantity !== null && this.stockQuantity > formData.quantity) {
				alert('this is not enough items in stock')
			} else {
				// submit form to cart
				axios.post('/cart/add-item',formData)
					.then(response => {
						console.log(response);
						// reset form submit text/loader
						cartSubmit.disabled = false;
						cartText.classList.remove('d-none');
						cartAdding.classList.add('d-none');
						// reset form quantity
						self.form.quantity = 1;
						// success message
						self.dismissCountDown = self.dismissSecs

					}).catch(error => {
						console.log(error);
					}).finally( () => {
						// always executed
						// get cart
						util.getCart(self);
						// get item count
						util.getCartItemCount(self);
						// calculate items
						util.calculateCart(self);
					});

			}
		},
	}
}
</script>
