<template>
	<div class="product-details product-details--main">
		<h1
			v-html="title"
			class="mb-4"
		>
		</h1>
		<p
			class="product-details__price h3 mb-4"
			v-html="price"
		></p>

		<div
			class="product-details__description"
			v-html="description"
		></div>
	</div>
</template>

<script>
export default {
	props:['description','price','title']
}
</script>
