<template>
	<b-row
		align-h="center"
	>
		<!-- list product images -->
		<button
			v-for="image in images"
			:key="image.id"
			@click="sendInfo(image)"
			class="product-images"
		>
			<img
				:src="image.src"
				:alt="image.alt"
				class="img-fluid product-images__image"
			>
		</button>

		<!-- modal individual images -->
		<b-modal
			ref="partnerModal"
			v-model="modalShow"
			size="lg"
			class="text-center"
		>
			<img
				:src="selectedModal.src"
				:alt="selectedModal.alt"
				class="img-fluid"
			>
		</b-modal>
	</b-row>
</template>

<script>
export default {
	props:['images'],
	data(){
		return {
			selectedModal: '',
			modalShow: false
		}
	},
	methods: {
		sendInfo(image){
			this.selectedModal = image;

			this.modalShow = true;
		}
	}
}
</script>
