.cart-preview {
	ul {
		width: 100%;
		li {
			padding: 10px 10px 10px 50px;
			position: relative;
		}
		.b-dropdown-text {
			margin-bottom: 0;
		}
		.close {
			position: absolute;
			left: 15px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
