<template>
	<header>
		<b-container>
			<b-row>
				<b-col
					class="text-center"
				>
					<logo />
					<h1 class="title">
						woocommerce
					</h1>

					<!-- cart preview -->
					<cart-preview></cart-preview>

				</b-col>
			</b-row>
		</b-container>
	</header>
</template>

<script>
import Logo from '@/components/Logo'
import CartPreview from '@/components/cart/preview'

export default {
	components: {
		Logo,
		CartPreview
	}
}
</script>
