<template>
	<b-container
		class="pb-5"
	>
		<!-- list products -->
		<b-row>
			<b-col
				v-for="item in products" :key="item.id"
				md=4
				xl=3
				class="text-center mt-4 mb-5 product-preview"
			>
				<h2
					v-html="item.name"
					class="product-preview__title"
				>
				</h2>

				<nuxt-link
					:to="'/product/'+item.slug"
				>
					<img
						:src="item.images[0].src"
						:alt="item.images[0].alt"
						class="img-fluid mb-4"
					>

					<!-- stock -->
					<span
						v-if="item.stock_status !== 'outofstock'"
						class="btn btn-primary"
					>
						View Product
					</span>
					<span
						v-else
						class="btn btn-warning"
					>
						Out of Stock
					</span>

				</nuxt-link>

			</b-col>
		</b-row>
		<!-- get more products -->
		<b-row>
			<b-col
				class="text-center"
			>
				<b-button
					variant="outline-primary"
					@click="loadMoreProducts"
					ref="loadMoreButton"
				>
					Load More Products
				</b-button>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>

import axios from 'axios'

export default {
	data(){
		return {
			products: '',
			productsPagination: ''
		}
	},
	methods: {
		loadMoreProducts(){
			let self = this;
			let thisButton = this.$refs.loadMoreButton;

			// toggle button text for loading
			thisButton.disabled = true;
			thisButton.innerHTML = 'Loading Products';

			axios.get('/ecomm/products',{
					withCredentials: true,
					params: {
						per_page: 8,
						page: self.productsPagination.page
					}
				})
					.then(function (response) {
						const totalPages = parseInt(response.headers['x-wp-totalpages']);
						self.productsPagination.page += 1;
						// hide button if you've passed
						// max number of pages
						if(self.productsPagination.page > self.productsPagination.pages) {
							thisButton.classList.add('d-none');
						}
						//add new products to page
						response.data.forEach(element => {
							self.products.push(element)
						});
						// toggle button text back
						thisButton.disabled = false;
						thisButton.innerHTML = 'Load More Products';
					})
					.catch(function (error) {
						console.log(error);
					});
		}
	},
	asyncData({$axios,app,params,error}) {
		return $axios.get('/ecomm/products',{
					withCredentials: true,
					params: {
						per_page: 8
					}
				})
					.then(function (response) {
						const totalPages = parseInt(response.headers['x-wp-totalpages']);
						return {
							products: response.data,
							productsPagination: {
								page: 2,
								pages: totalPages
							}
						}
					})
					.catch(function (error) {
						console.log(error);
					});
	},
}
</script>

